@import './index.scss';

/* 页面宽度小于1200px
------------------------------- */
@media screen and (max-width: $lg) and (min-width: $xs) {
	.main-login{
		background-color: #2c9ff5;
		.login-container {
			display: none;
		}
		.login-bottom {
			left: 50%!important;
		}
		.login-content-submit{
			margin-top: 17px!important;
		}
	}

}

/* 页面宽度小于576px
------------------------------- */
@media screen and (max-width: $xs) {
	.main-login{
		background-color: var(--next-color-white)	;
		.login-top{
			display: none;
		}
		.login-container {
			display: none;
		}
		.login-bottom {
			left: 50%!important;
			top: 25%!important;
			width: 100% !important;
			.login-right-warp {
				height: 100%;
				width: 100% !important;
				height: 100% !important;
				border: none !important;
				.login-right-warp-mian {
					.el-form-item {
						display: flex !important;
					}
					.login-right-warp-main-title {
						font-size: 25px !important;
					}
				}
				.login-right-warp-one {
					&::after {
						right: 0 !important;
					}
				}
				.login-right-warp-two {
					&::before {
						bottom: 1px !important;
					}
				}
			}
		}
		
	}
}

/* 页面宽度小于375px
------------------------------- */
@media screen and (max-width: $us) {
	.login-container {
		.login-bottom {
			.login-right-warp {
				.login-right-warp-mian {
					.login-right-warp-main-title {
						font-size: 18px !important;
					}
				}
			}
		}
	}
}
